<!-- Tabs Go Here -->

<div ng-show="store.gems.length">
  <h4>Reviews</h4>

  <ul>    
    <li ng-repeat="review in store.reviews[gemIndex]">
      <blockquote>
        <strong>{{review.stars}} Stars</strong>
        {{review.body}}
        <cite class="clearfix">—{{review.author}}</cite>
      </blockquote>
    </li>
  </ul>

  <!--  Review Form -->
  <form name="reviewForm" ng-submit="sub.addReview(store.reviews[gemIndex]); reviewForm.$setPristine()">

    <!--  Live Preview -->
    <blockquote ng-show="reviewForm.$dirty">
      <strong>{{sub.review.stars}} Stars</strong>
      {{sub.review.body}}
      <cite class="clearfix">—{{sub.review.author}}</cite>
    </blockquote>

    <!--  Review Form -->
    <h4>Submit a Review</h4>
    <fieldset class="form-group">
      <select ng-model="sub.review.stars" class="form-control" ng-options="stars for stars in [5,4,3,2,1]" title="Stars">
        <option value>Rate the Product</option>
      </select>
    </fieldset>
    <fieldset class="form-group">
      <textarea ng-model="sub.review.body" class="form-control" placeholder="Write a short review of the product..." title="Review"></textarea>
    </fieldset>
    <fieldset class="form-group">
      <input ng-model="sub.review.author" type="email" class="form-control" placeholder="jimmyDean@example.org" title="Email" />
    </fieldset>
    <fieldset class="form-group">
      <input type="submit" class="btn btn-primary pull-right" value="Submit Review"/>
    </fieldset>
  </form>
  
  
</div>

<section>
  <h4>Gems</h4>
  <ul class="nav nav-pills">
    <li ng-class="{ active:sub.isSet($index) }" ng-repeat="gem in store.gems">
      <a href ng-click="sub.setTab($index)">{{gem}}</a>
    </li>
    
  </ul>

 
</section>
